/*
 *  Better styling for the Drupal 8 admin tabs
 *  ---
 */

@mixin stretch($position: absolute) {
  position: $position;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

$menu-items: 8;

.admin-tabs {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 1001;
  text-indent: -999em;
  width: 50px;
  height: 50px;

  &__list {
    @include stretch;
    list-style: none;
    margin: 0;
  }

  &__item {
    @include stretch;
    opacity: 0;
    pointer-events: none;

    @for $i from 1 through $menu-items {
      &:nth-child(#{$i+2}) {
        transition-duration: 180ms;

        :checked ~ & {
          opacity: 1;
          pointer-events: auto;
          transition-timing-function: cubic-bezier(.165, .840, .440, 1.000);
          transition-duration: 90ms+(100ms*$i);
          transform: translateY(-55px*$i);
        }
      }
    }
  }

  &__link {
    @include stretch;
    border-radius: 50%;
    transition: background-color .3s ease-out;
    box-shadow: 0 0 10px rgba(black, .2);


    &[href$="edit"] {
      background: #3d9970 url("../sprites/admin-tabs.svg#edit") no-repeat center / 25px 25px;

      &:focus,
      &:hover {
        background-color: darken(#3d9970, 10%);
      }
    }

    &[href$="translations"] {
      background: purple url("../sprites/admin-tabs.svg#translate") no-repeat center / 25px 25px;

      &:focus,
      &:hover {
        background-color: darken(purple, 10%);
      }
    }

    &[href$="manage-display"] {
      background: #03549a url("../sprites/admin-tabs.svg#view") no-repeat center / 25px 25px;

      &:focus,
      &:hover {
        background-color: darken(#03549a, 10%);
      }
    }

    &[href$="delete"] {
      background: #da2327 url("../sprites/admin-tabs.svg#delete") no-repeat center / 25px 25px;

      &:focus,
      &:hover {
        background-color: darken(#da2327, 10%);
      }
    }

    &[href*="devel"] {
      background: orangered url("../sprites/admin-tabs.svg#devel") no-repeat center / 25px 25px;

      &:focus,
      &:hover {
        background-color: darken(orangered, 10%);
      }
    }

    &[href*="revisions"] {
      background: deeppink url("../sprites/admin-tabs.svg#revisions") no-repeat center / 25px 25px;

      &:focus,
      &:hover {
        background-color: darken(deeppink, 10%);
      }
    }

    &::before {
      background: #333;
      content: attr(aria-label);
      color: white;
      font-size: 11px;
      padding: 6px 10px;
      position: absolute;
      right: 100%;
      top: 50%;
      line-height: 1.6;
      font-weight: bold;
      white-space: nowrap;
      z-index: 3;
      opacity: 0;
      transition: .3s ease-out;
      text-indent: 0;
      transform: translateY(-50%);
      margin-right: 15px;
      pointer-events: none;
    }
    &::after {
      content: '';
      border-left: solid 6px #333;
      border-top: solid 8px transparent;
      border-bottom: solid 8px transparent;
      position: absolute;
      right: 100%;
      margin-right: 9px;
      top: 50%;
      opacity: 0;
      transform: translateY(-50%);
      transition: .3s ease-out;
      pointer-events: none;
    }
    &:focus,
    &:hover {
      &::before {
        transform: translate(5px, -50%);
        opacity: 1;
      }
      &::after {
        transform: translate(5px, -50%);
        opacity: 1;
      }
    }
  }
}

.menu-open {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.menu-open-button {
  background: #f0D223 url("../sprites/admin-tabs.svg#settings") no-repeat center / 25px 25px;
  z-index: 1;
  opacity: 1 !important;
  pointer-events: auto !important;

  &:focus,
  &:hover {
    background-color: darken(#f0D223, 10%);
  }
}
