{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}
<div class="admin-tabs">
    {% if primary %}
      <ul class="admin-tabs__list" role="tablist">
        <input type="checkbox" class="menu-open" id="menu-open" accesskey="i"/>
        <label class="menu-open-button admin-tabs__link" for="menu-open" aria-label="{{ 'Settings'|trans }}"></label>
          {{ primary }}
          {{ secondary }}
      </ul>
    {% endif %}
</div>
